fastapi
fastapi[standard]
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary
python-dotenv
confluent-kafka
bcrypt
passlib
python-jose
google-api-python-client
google-auth
google-auth-oauthlib
redis
alembic
pytest
httpx